
/* Color Settings */
/* https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#custom-colors */

:root > * {
  /* --md-primary-fg-color:  */
  /* --md-primary-bg-color:  */
  /* --md-accent-fg-color:   */
  /* --md-typeset-color:     */
  --md-typeset-a-color: #1c61a5;
  --md-status-online: #2FB170;
}

[data-md-color-scheme="slate"] {
  /* --md-primary-fg-color: */
  /* --md-primary-bg-color: */
  /* --md-accent-fg-color:  */
  /* --md-typeset-color:    */
  --md-typeset-a-color: #38b6ff !important;
}

/* Make section index page links more visible */
/* https://github.com/squidfunk/mkdocs-material/issues/4832#issuecomment-1374891676 */
.md-nav__link[for] {
color: var(--md-default-fg-color) !important
}

/* Center Markdown Tables (requires md_in_html extension) */
.center-table {
text-align: center;
}

/* Reset alignment for table cells */
.md-typeset .center-table :is(td,th):not([align]) {
text-align: initial;
}

/* Font size */
.md-typeset {
font-size: 0.75rem;
line-height: 1.5;
word-wrap: break-word;
}

.md-typeset pre {
font-size: 0.95em;
}

/* Markdown Header */
/* https://github.com/squidfunk/mkdocs-material/blob/dcab57dd1cced4b77875c1aa1b53467c62709d31/src/assets/stylesheets/main/_typeset.scss */
.md-typeset h1 {
font-weight: 400;
color: var(--md-default-fg-color);
}

.md-typeset h2 {
font-weight: 400;
}

.md-typeset h3 {
font-weight: 500;
}

/* Image align center */
.center {
display: block;
margin: 0 auto;
}

/* font-family setting for Win10 */
body {
--md-text-font-family: -apple-system,BlinkMacSystemFont,var(--md-text-font,_),Helvetica,Arial,sans-serif;
--md-code-font-family: var(--md-code-font,_),SFMono-Regular,Consolas,Menlo,-apple-system,BlinkMacSystemFont,var(--md-text-font,_),monospace;
}

/* max height of code block */
/* https://github.com/squidfunk/mkdocs-material/issues/3444 */
/* .md-typeset pre > code {
max-height: 25rem;
white-space: pre-wrap;
} */


@keyframes heart {
0%, 40%, 80%, 100% {
  transform: scale(1);
}
20%, 60% {
  transform: scale(1.15);
}
}
.heart {
animation: heart 1000ms infinite;
}

@media screen and (max-width: 1000px) {
.grid {
    grid-template-columns: none !important;
}
}


/* FullCalendar CSS Part*/

#calendar {
margin-bottom: 0;
margin-top: 0;

font-size: 0.75rem;
}
